*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: sans-serif;
}

footer{
  width: 100%;
  background-color: #202020;
  color: white;
}

.container-footer-all{
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}

.container-body{
  display: flex;
  justify-content: space-between;
}

.colum1, .colum2, .colum3{
  max-width: 400px;
}

.colum1 h1, .colum2 h1, .colum3 h1{
  font-size: 22px;
}

.colum1 p{
  font-size: 14px;
  color: #c7c7c7;
  margin-top: 20px;
  transition: 1s;
}

.colum2 .row{
  margin-top: 15px;
  display: flex;
  background-color: black;
  padding: 15px;
  border-radius: 10px;
  transition: 1s;
}

.row:hover{
  background-color: #F3F3F3;
}

.row:hover p{
  color: black;
}

.row img, .row2 img{
  width: 36px;
  height: 36px;
}
.row label, .row p{
  margin-top: 10px;
  margin-left: 20px;
  color: #c7c7c7;
}

.row2{
  margin-top: 20px;
  display: flex;
}

.row2 label, .row2 p{
  margin-top: 10px;
  margin-left: 20px;
  max-width: 140px;
}

.container-footer{
  width: 100%;
  background: #101010;
}

.footer{
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.copyright{
  color: #c7c7c7;
}

.copyright a{
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.information a{
  text-decoration: none;
  color: #c7c7c7;
}

/*Responsive footer*/

@media screen and (max-width: 1100px){
  .container-body{
    flex-wrap: wrap;
  }

  .colum1{
    max-width: 100%;
  }

  .information{
    font-size: 20px;
  }

  .colum2, .colum3{
    margin-top: 40px;
    margin: auto;
  }
}
