*{
	box-sizing: border-box;
}

body{
  background-image: url("imagenes/tortas.png");
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	color:#333;
	overflow-x: hidden;
}
.header-imagen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden; /*para no ver barra de scroll*/
}
.header-imagen img{
	min-width: 100%;
	min-height: 100%;
}
