*{
	box-sizing: border-box;
}

body{
	margin: 0;
	font-size: 1rem;
	line-height: 1.5;
	color:#333;
	overflow-x: hidden;
}
/*.header-overlay{ /*capa encima del video color*/
/*	height: 100vh;
	width: 100vw;
	position: absolute;
	top:0;
	left: 0;
	background: #E7D1B6;
	z-index: 1;
	opacity: .55;
}*/
.header-imagen{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden; /*para no ver barra de scroll*/
}
.header-imagen img{
	min-width: 100%;
	min-height: 100%;
}

#titulo{
  color: white;
    height: 600px;
    width: 100%;
    text-align: center;

    background-size: 100% 95%;
    background-size: cover;
}

#titulo h1{
	font-family: 'Amatic SC', cursive;
	color:#452222;
  text-align: center;
  margin-top: 20%;
  /*font-family: 'ZCOOL KuaiLe', cursive;*/
/*  margin-left: 40%;*/
	font-size: 50px;
}
#titulo h2{
	color: #00FF74 ;/*#433737*/
	font-family: 'ZCOOL KuaiLe', cursive;
}
#titulo hr{
	margin-left: 25%;
}
